html, body{
    height: 100%;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
.flex-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
}
#sidebar {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    overflow-y: auto;
    text-overflow: ellipsis;
}
#sidebar ul #file-list{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#file-list{
    text-overflow: ellipsis;
}
#resize {
    background-color: #ccc;
    min-width: 4px;
    height: 100%;
    cursor: w-resize;
}
#resize:hover{
    background-color: rgb(226, 223, 223);
}

#content{
    background-color: #ccc;
    flex: 1;
    height: 100%;
    overflow: auto;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

#log-list > li:hover{
    background-color: #ccc;
}

